.task{
  width: 100%;
  min-height: 8vh;
  display: flex;
  border:2px solid teal;
  padding: 10px;
  align-items: center;
  margin-top: 2vh;
  border-radius: 7px;
  justify-content: space-between;

  &__title{
    text-align: left;
    width: 90%;
    font-size: 20px;
  }
  &__delete{
    cursor: pointer;
    transition: .5s linear;
    &:hover{
      transform: scale(1.2);
    }
  }
}